{% extends 'account/base.html' %}
{% load static %}
{% block content%}
{% csrf_token %}
<div class="container text-center">
    <table class="table table-hover">
       <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Staff</th>
            <th scope="col">Update Staff</th>
            <th scope="col">Active</th>
        </tr>
        </thead>
          {% for staff in object_list%}
          <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{staff.user.username}}</td>
          <td>{{staff.user.first_name}}</td>
          <td>{{staff.user.last_name}}</td>
          <td>{{staff.user.email}}</td>
          <td>{{staff.user.is_staff}}</td>
          <td>{{staff.user.is_staff}}</td>
          <td>{{staff.user.is_active}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}


