{% extends 'account/base.html' %}
{% block content %}

<div class="container">
    <div class="card w-75">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <h5 class="card-title">Delete Post!</h5>
                <p class="card-text">Would you like to delete this object.</p>
                <button class="btn btn-danger" type="submit">Delete</button>
                <a href="{% url 'store'%}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}


