{% extends 'account/base.html' %}
{% load static %}
{% block content%}
{% csrf_token %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="container carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="{% static 'images/library1.jpg' %}" class="d-block w-100 mx-auto" style="height:550px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>– Charles W. Eliot</h5>
        <p class="h5">“Books are the quietest and most constant of friends; they are the most accessible and wisest of counselors, and the most patient of teachers.”</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="{% static 'images/library2.jpg' %}" class="d-block w-100 mx-auto" style="height:550px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>– Carl Sagan</h5>
        <p class="h5">“One glance at a book and you hear the voice of another person, perhaps someone dead for 1,000 years. To read is to voyage through time.”</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="{% static 'images/library3.jpg' %}" class="d-block w-100 mx-auto" style="height:550px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>– Neil Gaiman</h5>
        <p class="h5">“Fairy tales are more than true: not because they tell us that dragons exist, but because they tell us that dragons can be beaten.”</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container my-3">
  <div class="row">


  <div class="container justify-content-center my-3">
  <div class="row">
    <a href="{% url 'store' %}"><h3 class="text-center">Check out more books</h3></a>
    {% for item in object_list%}
    {% if item.item_quality != 0 %}

      <div class="col-lg-4 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
          <div class="card my-3"> <img class="card-img-top" src="{{ item.img.url }}">
              <div class="card-body">
                  <div class="d-flex align-items-start justify-content-between">
                      <div class="d-flex flex-column">
                          <div class="h5 font-weight-bold"><a href="{{ item.get_absolute_url }}">{{item.title}}</a></div>
                          <div class="h6 font-weight-bold">{{item.category}}</a></div>
                          <div class="text-muted">₱ {{item.price|floatformat:2}}</div>
                          <hr>
                          <div class="p font-weight-bold">{{item.description|truncatechars:100}}</a></div>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
      
      {%else %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

