{% extends 'account/base.html' %}

{% block content %}
<div class="container">
 <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Edit</th>
        <th scope="col">Total Price</th>

      </tr>
    </thead>
    <tbody>
        {% for order_item in object.items.all %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{order_item.item.title}}</td>
        <td>{{order_item.quantity}}</td>
        <td>₱ {{order_item.item.price}}</td>
        <td><a href="{{order_item.get_add_single_item_to_cart_url}}"><i class="fas fa-plus"></a></i>  <a href="{{get_remove_single_item_from_cart_url}}"><i class="fas fa-minus"></i></a></td>
        <td>₱ {{order_item.get_total_item_price}}</td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="5"><strong>Order Total</strong></td>
        <td><strong>₱ {{object.get_total}}</strong></td>
      </tr>
      <tr>
        <td colspan="6">
          <a class='btn btn-danger float-end' href="{% url 'check-out' %}">CashOut</a>
          <a class='btn btn-primary float-end ml-4' href="{% url 'store' %}">Continue Shopping</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}