{% extends 'account/base.html' %}
{% block content %}
{% csrf_token %}
{{object.title}}
{{object.description}}
{{object.item_quantity}}
{{object.category}}
{{object.price}}
{% if object.item_quantity %}
<a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p" disabled>
  <i class="fas fa-shopping-cart ml-1"></i> Add to cart</a>
  {% endif %}
<a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
  Remove from cart
</a>

{% if user.is_staff %}
  <a href="{% url 'update' object.slug %}" class="btn btn-danger btn-md my-0 p">
    Update
  </a>
  <a href="{% url 'delete' object.slug %}" class="btn btn-danger btn-md my-0 p">
    delete
  </a>
  {%endif%}
{% endblock %}
