{% extends 'account/base.html' %}
{% load static %}
{% block content%}

<div class="container my-3">
  <div class="container justify-content-center my-2">
        <form method='GET'>
        {% csrf_token %}
        <div class="row">
          <div class="col-4">
            {{filter.form.title}}
          </div>
          <div class="my-2">
            <small><h5>{{filter.form.category}}</h5></small>
          </div>
          <div>
            <button class="btn btn-outline-primary mt-" type="submit">Search</button>
          </div>
        </div>
        </form>
  <div class="row">
    {% for item in object_list%}
    {% if item.item_quality != 0 %}
      <div class="col-lg-4 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
          <div class="card my-3"> <img class="card-img-top" src="{{ item.img.url }}">
              <div class="card-body">
                  <div class="d-flex align-items-start justify-content-between">
                      <div class="d-flex flex-column">
                          <div class="h5 font-weight-bold"><a href="{{ item.get_absolute_url }}">{{item.title}}</a></div>
                          <div class="h6 font-weight-bold">{{item.category}}</a></div>
                          <div class="text-muted">₱ {{item.price|floatformat:2}}</div>
                          <hr>
                          <div class="p font-weight-bold">{{item.description|truncatechars:100}}</a></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="justify-content-center pagination">
    <span class="step-links my-2">
      <div>
        {% if page_obj.has_previous %}
            <a href="?page=1" class="h5"><i class="fas fa-backward"></i> first</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="h5">previous</a>
        {% endif %}
      </div>
        <div class="text-center">
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="h5"><i class="fas fa-caret-left"></i> next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="h5">last <i class="fas fa-caret-right"></i></a>
        </div>
        {% endif %}
    </span>
  </strong>
</div>
{% endblock %}



