{% extends 'account/base.html' %}
{% load static %}
{% block content%}

<div class="justify-content-center">
<div class="row">
  {% for item in object_list%}
  <div class="col-sm-4 mb-5">
    <div class="card shadow" style="width: 25rem;">
        <img src="{{ item.img.url }}" class="img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="{{ item.get_absolute_url }}">{{item.title}}</a></h5>
          <p class="card-text">{{item.description|truncatechars:50}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Category: {{item.category}}</strong></li>
          <li class="list-group-item"><strong>₱ {{item.price|floatformat:2}}</strong></li>
          <li class="list-group-item"><strong>Stock: {{item.item_quantity}}</strong></li>
          <li class="list-group-item"><strong>Ratings</strong></li>
        </ul>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}


