{% extends 'account/base.html' %}
{% load static %}
{% block content%}
{% for item in object_list%}
<div class="card" style="width: 18rem;">
    <img src="{{ item.img.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><a href="{{ item.get_absolute_url }}">{{item.title}}</a></h5>
      <p class="card-text">{{item.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{item.price}}</li>
      <li class="list-group-item">{{item.item_quantity}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
    </div>
</div>
{% endfor %}
{% endblock %}


